<!DOCTYPE html>
<html lang="ko">
<script>
function play_calling() {
{% if contents != None %}
    calling_audio = document.getElementById('calling_audio');
    calling_audio.play();
{% endif %}

    return;
};

function play_hello() {
{% if contents != None %}
    hello_audio = document.getElementById('hello_audio');
    hello_audio.play();
{% endif %}

    return;
};

function play_playbook() {
{% if contents != None %}
    playbook = document.getElementById('playbook_audio');
    playbook.play();
{% endif %}

    return;
};

function calling() {
{% if contents != None %}
    play_calling();
    {% for interval in contents['calling_list'] %}
    setTimeout(play_calling, {{ interval }});
    {% endfor %}
    setTimeout(play_hello, {{ contents['hello_interval'] }});
    setTimeout(play_playbook, {{ contents['playbook_interval'] }});
{% endif %}

    return;
};
</script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon">
<head>
    <meta charset="UTF-8">
    <title>Pink Phone</title>
</head>
<body onload="calling();">
    <div>
        <div align="center">
            <h1>연락처</h1>
            <br/>
            <img src="{{ url_for('static', filename='pinkfong.jpg') }}" title="pingfong"
                 align="center" height="600" width="600">
            <br/>
            <br/>
            <a href="/calling">
                <img src="{{ url_for('static', filename='call.png') }}" title="전화걸기"
                     align="center" height="400" width="400">
            </a>
            {% if contents != None %}
            <audio id="calling_audio">
                <source src="{{ url_for('static', filename='calling.wav') }}" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
            <audio id="hello_audio">
                <source src="{{ url_for('static', filename='hello.ogg') }}" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            <audio id="playbook_audio">
                <source src="{{ url_for('static', filename=contents['playbook_name']) }}" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            {% endif %}
        </div>
    </div>
</body>
</html>